<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    </main>
    
    <header>
      <h1>About Me</h1>
  </header>
  <section>
      <h2>Wisam Ghawanmeh</h2>
      <table>
        <tr>
          <td>
            <p>Greetings! I am Wisam. I am known for being tall with the jaw dropping height of 6 foot 5! Other than that I enjoy
              games and movies not so much Java...  
            </p>
          </td>
          <td>
            <img src="/img/Cat.jpg" alt="Me" width="200px" height="250px">
          </td>
        </tr>
      </table>
      <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc">Download Resume (.pdf)</a>
  </section>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   