<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h2 class="display-4">Welcome to <%= title %> page<br>
    Discover some of our products...</h2>
    </div>
    </main>

    <table cellspacing="2px" cellpadding="10px">
      <tr>
        <td>
          A professionally made sports car model made entirely through our state of the art 3D printing facilities.
          [very cool, Must have, I recommend]
        </td>
        <td>
          <img src="/img/3D printed vroomies.jpg" alt="Shinohara" width="440px" height="250px">
        </td>
      </tr>
      <tr>
        <td>
          A must have in every desk. Able to store your everyday stationaries in style! This is one of our many other characters you may request for.
        </td>
        <td>
          <img src="/img/Thanosness.jpg" alt="No Game No Life" width="380px" height="300px">
        </td>
      </tr>
      <tr>
        <td>
          We specialize on creating precise and effecient structures that also extremely durable. Our designs are resilient yet flexible to suit your any needs.
        </td>
        <td>
          <img src="/img/joints.jpg" alt="Parzival" height="300px" width="250px">
        </td>
      </tr>
  
    </table>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   